<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/views/style.css" />
  </head>
  <body>
    <nav class="navigation">
    <ul>
      <li><a>Home</a></li>
      <li><a>Services</a></li>
      <li><a>Contact</a></li>
    </ul>
  </nav>
    <div>
      <h1 class="hi">Welcome to Our Website!</h1>
      <p>This is the contact page.</p>
    </div>
  </body>
</html>